.venv*
.cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
checkpoints/
wandb/
videos/
**/.DS_Store
cleanrl
VinePPO
.report_cache
stable-baselines3
site/
.DS_Store
jobs
.claude
**.out
**/jobs/**

research/*.log
research/*.aux
research/*.bbl
research/*.blg
research/*.bcf
research/*.lof
research/*.log
research/*.lot
research/*.toc
research/*SAVE-ERROR
research/*.fls
research/*.fdb_latexmk
research/*.synctex.gz
research/*.pdf
